@page
@model geoprofs.Pages.VerlofAanvragen.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Aanvraag</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aanvraag.WerknemersId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aanvraag.WerknemersId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aanvraag.VanafDatum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aanvraag.VanafDatum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aanvraag.TotDatum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aanvraag.TotDatum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aanvraag.Vakantie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aanvraag.Vakantie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aanvraag.Persoonlijk)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aanvraag.Persoonlijk)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aanvraag.Ziek)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aanvraag.Ziek)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aanvraag.Goedkeuring)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aanvraag.Goedkeuring)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aanvraag.OndersteundDoor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aanvraag.OndersteundDoor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aanvraag.Werknemer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aanvraag.Werknemer.Achternaam)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aanvraag.OndersteundDoorWerknemer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aanvraag.OndersteundDoorWerknemer.Achternaam)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Aanvraag?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
