@page
@model geoprofs.Pages.werknemer_aanmaken.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Werknemer[0].Voornaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Werknemer[0].Achternaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Werknemer[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Werknemer[0].Wachtwoord)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Werknemer[0].DatumIndienst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Werknemer[0].BSN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Werknemer[0].SaldoVerlof)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Werknemer[0].Vakantie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Werknemer[0].Persoonlijk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Werknemer[0].Ziek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Werknemer[0].SupervisorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Werknemer[0].Positie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Werknemer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Voornaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Achternaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wachtwoord)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumIndienst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BSN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaldoVerlof)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vakantie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Persoonlijk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ziek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupervisorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Positie.PositieNaam)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
