@page
@{
    @model WerknemersModel;
    ViewBag.Title = "Jouw verlof aanvragen";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        .full-screen {
            display: flex;
        }

        .direction-container {
            display: flex;
            width: 70%;
            margin-right: 21px;
            flex-direction: column;
            align-content: space-around;
            justify-content: flex-end;
        }

        .two-thirds {
            border-radius: 24px;
            height: 650px;
            background-color: #dddddd;
            padding: 5px 5px 5px 5px;
        }

        #profile-container {
            background-color: red;
            width: 150px;
            height: 150px;
            overflow: hidden;
            border-radius: 50%;
        }

        .card1 {
            background-color: #ffffff;
            height: 150px;
            width: 100%;
            border-radius: 24px;
        }

        .profile-half {
            border-radius: 24px;
            flex: 1;
            background-color: #969393;
            color: #ffffff;
            padding: 20px 0px 0px 0px;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            margin-bottom: 12px;
            align-items: center;
        }

        .box {
            height: 125px;
            background-color: #dddddd;
            width: 476px;
            border-radius: 24px;
            display: flex;
            flex-direction: column;
        }

        .box1, .box2, .box3 {
            height: 75px;
            background-color: #969393;
            width: 110px;
            border-radius: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .approve-button {
            background-color: green;
            border-radius: 24px;
            color: #ffffff;
            padding: 20px;
            height: 80px;
            border: none;
        }

        .verlof-button {
            background-color: grey;
            border-radius: 24px;
            color: #ffffff;
            padding: 20px;
            height: 80px;
            border: none;
            width:200px;
        }
    </style>
</head>
<body>
    <div class="full-screen">
        <div class="direction-container">
            <div style="display: flex; justify-content: center; font-weight: bold; font-size: 25px;">
                Jouw verlof aanvragen
            </div>
            @foreach (var item in Model.Aanvraag)
            {
                <div class="two-thirds">
                    <div class="card1" style="height: fit-content; width: fit-content;">
                        <div style="display: flex; flex-direction: column; align-items: center;">
                            <div style="display: flex;">
                                <div style="display: flex; width: 800px;">
                                    <div class="title" style="font-weight: bold; margin-left: 15px;">Reden:</div>
                                    <div class="reason">
                                        @item.SelectionType
                                    </div>
                                </div>
                                <div style="display: flex; flex-direction: column;">
                                    <div style="font-weight: bold;">
                                        <div>Vanaf: @item.VanafDatum</div>
                                        <div>Tot: @item.TotDatum</div>
                                    </div>
                                    Goedkeuring door: <div style="font-weight: bold;">@item.Goedkeuring</div>
                                </div>
                            </div>
                            <div class="approve-button-container">
                                @if (item.Goedkeuring == 2)
                                {
                                    <button class="approve-button" style="background-color: green;">Goedgekeurd</button>
                                }
                                else if (item.Goedkeuring == 1)
                                {
                                    <button class="approve-button" style="background-color: red;">Afgewezen</button>
                                }
                                else if (item.Goedkeuring == 0)
                                {
                                    <button class="approve-button" style="background-color: yellow; color: black;">Pending</button>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>

        <div class="one-third">
            <div class="profile-half">

                <div id="profile-container">
                    <img id="profileImage" src="aDefaultImage.png" />
                </div>
                <div style="display: flex; flex-direction: column; align-items: center;">
                    <h4>@Model.CurrentUser.Voornaam @Model.CurrentUser.Achternaam</h4>
                    <h4>Medewerker</h4>
                    <h4>Since when: </h4>
                    @Model.CurrentUser.DatumIndienst
                    <h4>Email:</h4>
                    @Model.CurrentUser.Email
                    <h4>ID: </h4>
                    @Model.CurrentUser.Id
                </div>
                <div class="box">
                    <div style="display: flex; justify-content: center;">Saldo</div>
                    <div style="display: flex; justify-content: space-around; align-items: center; flex-direction: column;">
                        <div style="width: 100%; display: flex; justify-content: space-around;">
                            <div class="box1">Ziek: <br> @Model.CurrentUser.Ziek dagen</div>
                            <div class="box2">Persoonlijk: <br> @Model.CurrentUser.Persoonlijk dagen</div>
                            <div class="box3">Vakantie: <br> @Model.CurrentUser.Vakantie dagen</div>
                        </div>
                        Nog  @Model.CurrentUser.SaldoVerlof dagen over
                    </div>
                </div>



            </div> <div style="  display: flex;
            justify-content: center;">
                <button class="verlof-button" >
                    Verlof
                </button>
			</div>
        </div>
    </div>
</body>
</html>
